#######################################################
####    Trading pattern (4 types of investor)      ####
#######################################################

library(readxl)
library(dplyr)
library(reshape2)

#########
# SET50 #
#########
df <- read.csv(file="SET50.csv", head=F, stringsAsFactors=F)
df <- df[c(4:nrow(df)),]
## convert columns to numeric
df[,c(4:16)] <- as.numeric(gsub("\\(", "-", gsub("\\)|,", "", 
                as.matrix(df[,c(4:16)]))))
## set NA = 0
df[is.na(df)] <- 0 
## setnames
names(df) <- c("date","code","security","sum","fundbuy","fundsell","fundnet",
               "portbuy","portsell","portnet","custbuy","custsell","custnet",
               "foreignbuy","foreignsell","foreignnet")
## assign date
df$Date <- as.Date(df$date, "%d/%m/%Y")
df$month <- as.Date(cut(df$Date, breaks = "month"))  

## choose date range
# datefn <- function(x,y){SETOct16[SETOct16$Date>=x & SETOct16$Date<=y, ]}
# datefn(as.Date("2559-10-10"),as.Date("2559-10-10"))

## group mutate calculate
SET50 <- df %>%
  group_by(month) %>%
  summarise(totalvalue = sum(sum),
            fundbuy = sum(fundbuy),fundsell = sum(fundsell),fundnet = sum(fundnet),
            portbuy = sum(portbuy),portsell = sum(portsell),portnet = sum(portnet),
            custbuy = sum(custbuy),custsell = sum(custsell),custnet = sum(custnet),
            foreignbuy = sum(foreignbuy),foreignsell = sum(foreignsell),foreignnet = sum(foreignnet)) %>%
  mutate(fundsentiment = (fundbuy-fundsell)/((fundbuy+fundsell)/2),
         portsentiment = (portbuy-portsell)/((portbuy+portsell)/2),
         custsentiment = (custbuy-custsell)/((custbuy+custsell)/2),
         foreignsentiment = (foreignbuy-foreignsell)/((foreignbuy+foreignsell)/2))

#write.csv(SET50, file="SET50.csv")

#############
# SET51-100 #
#############
df <- read.csv(file="SET51100.csv", head=F, stringsAsFactors=F)
df <- df[c(4:nrow(df)),]
df[,c(4:16)] <- as.numeric(gsub("\\(", "-", gsub("\\)|,", "", 
                as.matrix(df[,c(4:16)]))))
df[is.na(df)] <- 0 
names(df) <- c("date","code","security","sum","fundbuy","fundsell","fundnet",
               "portbuy","portsell","portnet","custbuy","custsell","custnet",
               "foreignbuy","foreignsell","foreignnet")

df$Date <- as.Date(df$date, "%d/%m/%Y")
df$month <- as.Date(cut(df$Date, breaks = "month"))  

SET51100 <- df %>%
  group_by(month) %>%
  summarise(totalvalue = sum(sum),
            fundbuy = sum(fundbuy),fundsell = sum(fundsell),fundnet = sum(fundnet),
            portbuy = sum(portbuy),portsell = sum(portsell),portnet = sum(portnet),
            custbuy = sum(custbuy),custsell = sum(custsell),custnet = sum(custnet),
            foreignbuy = sum(foreignbuy),foreignsell = sum(foreignsell),foreignnet = sum(foreignnet)) %>%
  mutate(fundsentiment = (fundbuy-fundsell)/((fundbuy+fundsell)/2),
         portsentiment = (portbuy-portsell)/((portbuy+portsell)/2),
         custsentiment = (custbuy-custsell)/((custbuy+custsell)/2),
         foreignsentiment = (foreignbuy-foreignsell)/((foreignbuy+foreignsell)/2))


#write.csv(SET51100, file="SET51100.csv")

##############
#     DW     #
##############
df <- read.csv(file="DW.csv", head=F, stringsAsFactors=F)
df <- df[c(4:nrow(df)),]
df[,c(4:16)] <- as.numeric(gsub("\\(", "-", gsub("\\)|,", "", 
                as.matrix(df[,c(4:16)]))))
df[is.na(df)] <- 0 
names(df) <- c("date","code","security","sum","fundbuy","fundsell","fundnet",
               "portbuy","portsell","portnet","custbuy","custsell","custnet",
               "foreignbuy","foreignsell","foreignnet")

df$Date <- as.Date(df$date, "%d/%m/%Y")
df$month <- as.Date(cut(df$Date, breaks = "month"))  

DW <- df %>%
  group_by(month) %>%
  summarise(totalvalue = sum(sum),
            fundbuy = sum(fundbuy),fundsell = sum(fundsell),fundnet = sum(fundnet),
            portbuy = sum(portbuy),portsell = sum(portsell),portnet = sum(portnet),
            custbuy = sum(custbuy),custsell = sum(custsell),custnet = sum(custnet),
            foreignbuy = sum(foreignbuy),foreignsell = sum(foreignsell),foreignnet = sum(foreignnet)) %>%
  mutate(fundsentiment = (fundbuy-fundsell)/((fundbuy+fundsell)/2),
         portsentiment = (portbuy-portsell)/((portbuy+portsell)/2),
         custsentiment = (custbuy-custsell)/((custbuy+custsell)/2),
         foreignsentiment = (foreignbuy-foreignsell)/((foreignbuy+foreignsell)/2))

#write.csv(DW, file="DW.csv")


###############
# mai excl. W #
###############
df <- read.csv(file="mai.csv", head=F, stringsAsFactors=F)
df <- df[c(4:nrow(df)),]
df[,c(4:16)] <- as.numeric(gsub("\\(", "-", gsub("\\)|,", "", 
                as.matrix(df[,c(4:16)]))))
df[is.na(df)] <- 0 
names(df) <- c("date","code","security","sum","fundbuy","fundsell","fundnet",
               "portbuy","portsell","portnet","custbuy","custsell","custnet",
               "foreignbuy","foreignsell","foreignnet")

## excluding any rows with string '-W'
selectedRows <- df[grep("-W",df$security,invert=T),]
nrow(selectedRows) #check number of sample 
MAI <- selectedRows  #rename

MAI$Date <- as.Date(MAI$date, "%d/%m/%Y")
MAI$month <- as.Date(cut(MAI$Date, breaks = "month"))  

mai <- MAI %>%
  group_by(month) %>%
  summarise(totalvalue = sum(sum),
            fundbuy = sum(fundbuy),fundsell = sum(fundsell),fundnet = sum(fundnet),
            portbuy = sum(portbuy),portsell = sum(portsell),portnet = sum(portnet),
            custbuy = sum(custbuy),custsell = sum(custsell),custnet = sum(custnet),
            foreignbuy = sum(foreignbuy),foreignsell = sum(foreignsell),foreignnet = sum(foreignnet)) %>%
  mutate(fundsentiment = (fundbuy-fundsell)/((fundbuy+fundsell)/2),
         portsentiment = (portbuy-portsell)/((portbuy+portsell)/2),
         custsentiment = (custbuy-custsell)/((custbuy+custsell)/2),
         foreignsentiment = (foreignbuy-foreignsell)/((foreignbuy+foreignsell)/2))


#write.csv(mai, file="mai.csv")

###############################
#   Warrant (of SET and mai)  #
###############################
## 1. Find maiW (!making use of the output of previous section)
## select any rows with string '-W'
selectedRows <- df[grep("-W", df$security),]
nrow(selectedRows) #check number of sample 
MAIW <- selectedRows  #rename

MAIW$Date <- as.Date(MAIW$date, "%d/%m/%Y")
MAIW$month <- as.Date(cut(MAIW$Date, breaks = "month"))  

maiW <- MAIW %>%
  group_by(month) %>%
  summarise(totalvalue = sum(sum),
            fundbuy = sum(fundbuy),fundsell = sum(fundsell),fundnet = sum(fundnet),
            portbuy = sum(portbuy),portsell = sum(portsell),portnet = sum(portnet),
            custbuy = sum(custbuy),custsell = sum(custsell),custnet = sum(custnet),
            foreignbuy = sum(foreignbuy),foreignsell = sum(foreignsell),foreignnet = sum(foreignnet)) %>%
  mutate(fundsentiment = (fundbuy-fundsell)/((fundbuy+fundsell)/2),
         portsentiment = (portbuy-portsell)/((portbuy+portsell)/2),
         custsentiment = (custbuy-custsell)/((custbuy+custsell)/2),
         foreignsentiment = (foreignbuy-foreignsell)/((foreignbuy+foreignsell)/2))


## 2. Find SETW
df <- read.csv(file="nonSET100.csv", head=F, stringsAsFactors=F)
df <- df[c(4:nrow(df)),]
df[,c(4:16)] <- as.numeric(gsub("\\(", "-", gsub("\\)|,", "", 
                as.matrix(df[,c(4:16)]))))
df[is.na(df)] <- 0 
names(df) <- c("date","code","security","sum","fundbuy","fundsell","fundnet",
               "portbuy","portsell","portnet","custbuy","custsell","custnet",
               "foreignbuy","foreignsell","foreignnet")

## select any rows with string '-W'
selectedRows <- df[grep("-W", df$security),]
nrow(selectedRows) #check number of sample 
setW <- selectedRows  #rename

setW$Date <- as.Date(setW$date, "%d/%m/%Y")
setW$month <- as.Date(cut(setW$Date, breaks = "month"))  

SETW <- setW %>%
  group_by(month) %>%
  summarise(totalvalue = sum(sum),
            fundbuy = sum(fundbuy),fundsell = sum(fundsell),fundnet = sum(fundnet),
            portbuy = sum(portbuy),portsell = sum(portsell),portnet = sum(portnet),
            custbuy = sum(custbuy),custsell = sum(custsell),custnet = sum(custnet),
            foreignbuy = sum(foreignbuy),foreignsell = sum(foreignsell),foreignnet = sum(foreignnet)) %>%
  mutate(fundsentiment = (fundbuy-fundsell)/((fundbuy+fundsell)/2),
         portsentiment = (portbuy-portsell)/((portbuy+portsell)/2),
         custsentiment = (custbuy-custsell)/((custbuy+custsell)/2),
         foreignsentiment = (foreignbuy-foreignsell)/((foreignbuy+foreignsell)/2))


## 3. combine (sum matrix) see FINALE line 340

#W <- maiW + SETW

# sum 2 dataframes OPTION1 with base R.. wide aggregation
#W <- cbind(maiW, SETW)
#sapply(unique(colnames(W)), 
#       function(x) rowSums(W[, colnames(W) == x, drop = FALSE]))

# OPTION2 with reshape2
#W <- rbind(melt(maiW,id="security"),melt(SETW,id="security"))
#dcast(data=W,formula=site ~ variable,fun.aggregate=sum)

########################################################
#   SET101200 / nonSET200 / REITs&infra / -f by group  #
########################################################
# use byproduct of SETW code 'dw'file which is nonSET100
# Step I : read list file which contains SET50, 51-100, 101-200, non200, REITs&Infra
listSET101200 <- read_excel("list SETgroup code.xlsx",3) #sheet 3> SET101-200
listREITinfra <- read_excel("list SETgroup code.xlsx",4) #sheet 5> REITs&Infra
listSET50     <- read_excel("list SETgroup code.xlsx",1) #sheet 1> SET50
listSET51100  <- read_excel("list SETgroup code.xlsx",2) #sheet 2> SET51-100

#.... dfH2Y15 <- subset(df, Date >="2558-07-01" & Date <="2558-09-03")
#.... dfHY15$security <- as.character(dfH2Y15$security)

df$Date <- as.Date(df$date, "%d/%m/%Y")
df$month <- as.Date(cut(df$Date, breaks = "month"))

df$code <- as.numeric(as.character(df$code))
joinedSET101200 = merge(df,listSET101200, by.x="code", by.y="H1Y17")
joinedSET101200 <- joinedSET101200[,c(1:18)]

SET101200 <- joinedSET101200 %>%
  group_by(month) %>%
  summarise(totalvalue = sum(sum),
            fundbuy = sum(fundbuy),fundsell = sum(fundsell),fundnet = sum(fundnet),
            portbuy = sum(portbuy),portsell = sum(portsell),portnet = sum(portnet),
            custbuy = sum(custbuy),custsell = sum(custsell),custnet = sum(custnet),
            foreignbuy = sum(foreignbuy),foreignsell = sum(foreignsell),foreignnet = sum(foreignnet)) %>%
  mutate(fundsentiment = (fundbuy-fundsell)/((fundbuy+fundsell)/2),
         portsentiment = (portbuy-portsell)/((portbuy+portsell)/2),
         custsentiment = (custbuy-custsell)/((custbuy+custsell)/2),
         foreignsentiment = (foreignbuy-foreignsell)/((foreignbuy+foreignsell)/2))
         
# REITs&infra ---------------------------------------------------------------------
joinedREITinfra = merge(df,listREITinfra, by.x="security", by.y="SPECIAL")
joinedREITinfra <- joinedREITinfra[,c(1:18)]

REITinfra <- joinedREITinfra %>%
  group_by(month) %>%
  summarise(totalvalue = sum(sum),
            fundbuy = sum(fundbuy),fundsell = sum(fundsell),fundnet = sum(fundnet),
            portbuy = sum(portbuy),portsell = sum(portsell),portnet = sum(portnet),
            custbuy = sum(custbuy),custsell = sum(custsell),custnet = sum(custnet),
            foreignbuy = sum(foreignbuy),foreignsell = sum(foreignsell),foreignnet = sum(foreignnet)) %>%
  mutate(fundsentiment = (fundbuy-fundsell)/((fundbuy+fundsell)/2),
         portsentiment = (portbuy-portsell)/((portbuy+portsell)/2),
         custsentiment = (custbuy-custsell)/((custbuy+custsell)/2),
         foreignsentiment = (foreignbuy-foreignsell)/((foreignbuy+foreignsell)/2))

# nonSET200 ---------------------------------------------------------------------
## excluding any rows with string '-W'
selectedRows <- df[grep("-W",df$security,invert=T),]
nrow(selectedRows) #check number of sample 
DF <- selectedRows  #rename

DF$code <- as.numeric(as.character(DF$code))

DF <- DF[!(DF$code %in% listSET101200$H1Y17) & !(DF$security %in% listREITinfra$SPECIAL),] # DF equals nonSET200 + -f stock
nrow(DF) #check number of rows

## excluding -f
selectedRows <- DF[grep("-F",DF$security,invert=T),]
nrow(selectedRows) #check number of sample 
nonset200 <- selectedRows

nonSET200 <- nonset200 %>%
  group_by(month) %>%
  summarise(totalvalue = sum(sum),
            fundbuy = sum(fundbuy),fundsell = sum(fundsell),fundnet = sum(fundnet),
            portbuy = sum(portbuy),portsell = sum(portsell),portnet = sum(portnet),
            custbuy = sum(custbuy),custsell = sum(custsell),custnet = sum(custnet),
            foreignbuy = sum(foreignbuy),foreignsell = sum(foreignsell),foreignnet = sum(foreignnet)) %>%
  mutate(fundsentiment = (fundbuy-fundsell)/((fundbuy+fundsell)/2),
         portsentiment = (portbuy-portsell)/((portbuy+portsell)/2),
         custsentiment = (custbuy-custsell)/((custbuy+custsell)/2),
         foreignsentiment = (foreignbuy-foreignsell)/((foreignbuy+foreignsell)/2))

# sort -F ---------------------------------------------------------------------
selectedRows <- DF[grep("-F",DF$security),]
nrow(selectedRows) #check number of sample 
F <- selectedRows

F$security<-gsub("-F", "", F$security, fixed=T) # remove '-F' from string
F$code <- as.numeric(as.character(F$code))
F$codef <- F$code-1  ## foreign share code = normal code +1
#grouping
SETf50     <- F[(F$codef %in% listSET50$H1Y17),]
SETf51100  <- F[(F$codef %in% listSET51100$H1Y17),]
SETf101200 <- F[(F$codef %in% listSET101200$H1Y17),]
REITinfraf <- F[(F$security %in% listREITinfra$SPECIAL),]
nonSETf200 <- F[!(F$codef %in% listSET50$H1Y17) & !(F$codef %in% listSET51100$H1Y17) & 
                !(F$codef %in% listSET101200$H1Y17) & !(F$security %in% listREITinfra$SPECIAL),] # residual is nonSETf200

fSET50 <- SETf50 %>%
  group_by(month) %>%
  summarise(totalvalue = sum(sum),
            fundbuy = sum(fundbuy),fundsell = sum(fundsell),fundnet = sum(fundnet),
            portbuy = sum(portbuy),portsell = sum(portsell),portnet = sum(portnet),
            custbuy = sum(custbuy),custsell = sum(custsell),custnet = sum(custnet),
            foreignbuy = sum(foreignbuy),foreignsell = sum(foreignsell),foreignnet = sum(foreignnet)) %>%
  mutate(fundsentiment = (fundbuy-fundsell)/((fundbuy+fundsell)/2),
         portsentiment = (portbuy-portsell)/((portbuy+portsell)/2),
         custsentiment = (custbuy-custsell)/((custbuy+custsell)/2),
         foreignsentiment = (foreignbuy-foreignsell)/((foreignbuy+foreignsell)/2))

fSET51100 <- SETf51100 %>%
  group_by(month) %>%
  summarise(totalvalue = sum(sum),
            fundbuy = sum(fundbuy),fundsell = sum(fundsell),fundnet = sum(fundnet),
            portbuy = sum(portbuy),portsell = sum(portsell),portnet = sum(portnet),
            custbuy = sum(custbuy),custsell = sum(custsell),custnet = sum(custnet),
            foreignbuy = sum(foreignbuy),foreignsell = sum(foreignsell),foreignnet = sum(foreignnet)) %>%
  mutate(fundsentiment = (fundbuy-fundsell)/((fundbuy+fundsell)/2),
         portsentiment = (portbuy-portsell)/((portbuy+portsell)/2),
         custsentiment = (custbuy-custsell)/((custbuy+custsell)/2),
         foreignsentiment = (foreignbuy-foreignsell)/((foreignbuy+foreignsell)/2))

fSET101200 <- SETf101200 %>%
  group_by(month) %>%
  summarise(totalvalue = sum(sum),
            fundbuy = sum(fundbuy),fundsell = sum(fundsell),fundnet = sum(fundnet),
            portbuy = sum(portbuy),portsell = sum(portsell),portnet = sum(portnet),
            custbuy = sum(custbuy),custsell = sum(custsell),custnet = sum(custnet),
            foreignbuy = sum(foreignbuy),foreignsell = sum(foreignsell),foreignnet = sum(foreignnet)) %>%
  mutate(fundsentiment = (fundbuy-fundsell)/((fundbuy+fundsell)/2),
         portsentiment = (portbuy-portsell)/((portbuy+portsell)/2),
         custsentiment = (custbuy-custsell)/((custbuy+custsell)/2),
         foreignsentiment = (foreignbuy-foreignsell)/((foreignbuy+foreignsell)/2))

fnonSET200 <- nonSETf200 %>%
  group_by(month) %>%
  summarise(totalvalue = sum(sum),
            fundbuy = sum(fundbuy),fundsell = sum(fundsell),fundnet = sum(fundnet),
            portbuy = sum(portbuy),portsell = sum(portsell),portnet = sum(portnet),
            custbuy = sum(custbuy),custsell = sum(custsell),custnet = sum(custnet),
            foreignbuy = sum(foreignbuy),foreignsell = sum(foreignsell),foreignnet = sum(foreignnet)) %>%
  mutate(fundsentiment = (fundbuy-fundsell)/((fundbuy+fundsell)/2),
         portsentiment = (portbuy-portsell)/((portbuy+portsell)/2),
         custsentiment = (custbuy-custsell)/((custbuy+custsell)/2),
         foreignsentiment = (foreignbuy-foreignsell)/((foreignbuy+foreignsell)/2))

fREITinfra <- REITinfraf %>%
  group_by(month) %>%
  summarise(totalvalue = sum(sum),
            fundbuy = sum(fundbuy),fundsell = sum(fundsell),fundnet = sum(fundnet),
            portbuy = sum(portbuy),portsell = sum(portsell),portnet = sum(portnet),
            custbuy = sum(custbuy),custsell = sum(custsell),custnet = sum(custnet),
            foreignbuy = sum(foreignbuy),foreignsell = sum(foreignsell),foreignnet = sum(foreignnet)) %>%
  mutate(fundsentiment = (fundbuy-fundsell)/((fundbuy+fundsell)/2),
         portsentiment = (portbuy-portsell)/((portbuy+portsell)/2),
         custsentiment = (custbuy-custsell)/((custbuy+custsell)/2),
         foreignsentiment = (foreignbuy-foreignsell)/((foreignbuy+foreignsell)/2))



# FINALE combine files ---------------------------------------------------------------------
# cbind(df1[1], df1[-1] + df2[-1]) # in case the data is vectorised and in the same order
# if not.... cbind(df1[1], df1[, -1] + df2[match(df1$Type, df2$Type), -1])
# alternatively....df1[order(df1[, 1]), -1] + df2[order(df2[, 1]), -1]

totalSET50     <- cbind(SET50[1], SET50[-1] + fSET50[-1]) 
totalSET51100  <- cbind(SET51100[1], SET51100[-1] + fSET51100[-1])
totalSET101200 <- cbind(SET101200[1], SET101200[-1] + fSET101200[-1])
totalnonSET200 <- cbind(nonSET200[1], nonSET200[-1] + fnonSET200[-1])
totalREITinfra <- cbind(REITinfra[1], REITinfra[-1] + fREITinfra[-1])
totalW         <- cbind(SETW[1], SETW[-1] + maiW[-1])

#total <- rbind(totalSET50, totalSET51100, totalSET101200, totalnonSET200, totalREITinfra, totalW)
