#######################################################
####    Trading pattern (4 types of investor)      ####
#######################################################

library(readxl)
library(dplyr)
library(reshape2)

#########
# SET50 #
#########
df <- read.csv(file="SET50.csv", head=F, stringsAsFactors=F)
df <- df[c(4:nrow(df)),-2]
## convert columns to numeric
df[,c(3:15)] <- as.numeric(gsub("\\(", "-", gsub("\\)|,", "", 
                as.matrix(df[,c(3:15)]))))
## set NA = 0
df[is.na(DF)] <- 0 
## setnames
names(df) <- c("date","security","sum","fundbuy","fundsell","fundnet",
               "portbuy","portsell","portnet","custbuy","custsell","custnet",
               "foreignbuy","foreignsell","foreignnet")
## assign date
df$Date <- as.Date(df$date, "%d/%m/%Y")
df$month <- as.Date(cut(df$Date, breaks = "month"))  

## group mutate calculate
SET50 <- df %>%
  group_by(Date) %>%
  summarise(fundbuy = sum(fundbuy),fundsell = sum(fundsell),
            portbuy = sum(portbuy),portsell = sum(portsell),
            custbuy = sum(custbuy),custsell = sum(custsell),
            foreignbuy = sum(foreignbuy),foreignsell = sum(foreignsell)) %>%
  mutate(fundsentiment = (fundbuy-fundsell)/((fundbuy+fundsell)/2),
         portsentiment = (portbuy-portsell)/((portbuy+portsell)/2),
         custsentiment = (custbuy-custsell)/((custbuy+custsell)/2),
         foreignsentiment = (foreignbuy-foreignsell)/((foreignbuy+foreignsell)/2))

write.csv(SET50, file="SET50.csv")

#############
# SET51-100 #
#############
